body {
margin: 0;
font-family: "Roboto";
}

ul.topnav {

    display: block;;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #07162d;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #040d1c;}

ul.topnav li a.active {background-color: #3f72c6;}

@media (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.Logo{
        text-align: center;
            display: block;
}

.acc {
      padding: 4px 6px;
  float: right;
  text-align: center;
      display: block;
  top:auto;
  position: relative;

}

.acc:hover:not(.active) {opacity: 0.7;}

.acc.active {background-color: 0.6;}
